


<div class="courses">
    @foreach (var course in Model.Course)
    {
        <div class="course">
            <div class="course-image">
                <img src="@course.Image.ImageUrl" alt="@course.Image.AltText">
            </div>
            <div class="save-icon">
                <i class="@course.Icon"></i>
            </div>

            @if (course.Tag != null)
            {
                <div class="tag">
                    <p>@course.Tag</p>
                </div>
            }
            else
            {
                <div></div>
            }


            <div class="course-info">
                <h2>@course.Title</h2>
                <p class="author">@course.Author</p>
                @if (course.SalesPrice != null)
                {
                    <div class="price-with-sale">
                        <p class="sales-price">$@course.SalesPrice</p>
                        <p class="regular-price">$@course.Price</p>
                    </div>
                }
                else
                {
                    <p class="price">$@course.Price</p>
                }
                <div class="card-bottom">
                    <p class="duration"><i class="fa-regular fa-clock"></i> @course.Duration</p>
                    <p class="rating"><i class="fa-regular fa-thumbs-up"></i> @course.Rating</p>
                </div>
            </div>
        </div>
    }
</div>
<nav aria-label="course pagination">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

